* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

div.header {
  width: 80%;
  margin-left: 10%;
  position: fixed;
  background-color: #f0f0e9;
  padding: 0 20px;
  z-index: 999;
}
div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #f5f5f5;
}

div.col-1 {
  display: flex;
  width: 30%;
  justify-content: space-between;
  line-height: 39px;
}

div.col-2 {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

img.logo {
  width: 139px;
  height: 39px;
}

div.col-2 > li {
  list-style: none;
}

div.col-2 > li > a {
  text-decoration: none;
  color: black;
}

div.btn-group > button {
  padding: 1px 20px;
  position: relative;
}

div.btn-group > button:hover {
  border: 1px solid #fe980f;
  background-color: #fe980f;
  color: white;
}

div.btn-group > button.btnUSA {
  padding: 1px 24px;
}

ul.dropdown-menu {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  width: 200px;
  background-color: #ccc;
  z-index: 100;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

ul.dropdown-menu > li {
  list-style: none;
  padding-left: 15px;
}
ul.dropdown-menu > li > a {
  text-decoration: none;
  color: black;
}

div.btn-group:hover .dropdown-menu {
  display: block;
}

ul.dropdown-menu > li:hover {
  background-color: white;
}

div.header-bottom {
  width: auto;
  line-height: 80px;
  height: 80px;
}
div.row-2 {
  display: flex;
  justify-content: space-between;
}

.col-2 > li > a:hover {
  color: #fe980f;
}
div.col-3 {
  width: 30%;
}

.drop-main-menu {
  display: flex;
  justify-content: space-between;
}
.drop-main-menu > li {
  list-style: none;
  position: relative;
}

.drop-main-menu > li > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.ti-angle-down {
  font-size: 14px;
}
ul.list-option {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  /* margin-top: -20px; */
  background-color: #666666;
  width: 200px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  transition: all 0.6s linear;
}

ul.list-option > li {
  list-style: none;
  padding-left: 20px;
  line-height: 45px;
}
ul.list-option > li > a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.drop-main-menu > li > a:hover {
  color: #fe980f;
}
.drop-main-menu > li:hover ul.list-option {
  opacity: 1;
  visibility: visible;
  margin-top: -20px;
}

ul.list-option > li:hover {
  background-color: #ccc;
}
ul.list-option > li > a:hover {
  color: #fe980f;
}

div.col-4 {
  padding-top: 20px;
}

.search {
  border: solid 1px #ccc;
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  background-color: #f0f0e9;
  border-radius: 100px;
  padding-left: 20px;
}
.txtsearch {
  border: none;
  padding-bottom: 5px;
  outline: 0;
  background-color: #f0f0e9;
}

.Content {
  width: 80%;
  margin: 0 auto;
  padding-top: 200px;
  border-top: 1px solid #F7F7F0;
}

div.left-products{
  width: 30%;
  float: left;
}
div.rigrt-products{
  width: 65%;
  height: 100%;
  float: right;
  padding: 10px 20px;
}
div.category{
  width: 100%;
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 15px;
  width: 262px;
  height: 358px;
  align-items: center;
}

div.panel_heading>a{
  text-decoration: none;
  color: black;
}

div.penel{
  width: 100%;
  padding: 8px 10px;
  text-align: left;
}
div.penel:hover{
  background-color: #fe980f;

}

div.Products_view{
  width: 30%;
  text-align: center;
}
div.Products_view>img{
  width: 100%;
}

div.product_up{
  display: flex;
  justify-content: space-between;
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  margin-top: 20px;
  padding: 15px 20px;

}

h2{
  color: #fe980f;
  padding: 10px 0;
}
a.a_sell{
  text-decoration: none;
  color: black;
}

h2.title{
  text-align: center;
}

div.add_Cart{
  text-align: center;
  margin: 10px 30px;
  padding: 5px 5px;
  background-color: #F5F5ED;
}

div.add_Cart:hover{
  background-color: #fe980f;
  color: white;
  transition: all 0.5s;
}
div.add_Cart>a:hover{
  color: white;
  transition: all 0.5s;
}
div.foot-product{
  border-top: 1px solid #F7F7F0;
  display: flex;
  justify-content: space-between;
}

div.foot-product-con{
  
  padding: 10px 10px;
  padding-bottom: 0px;
  height: 20px;
  
}
div.foot-product-con>a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  line-height: 20px;
}
div.foot-product-con>i{
  font-size: 10px;
}


.shipping>img{
  width: 80%;
}
div.menu_product{
  width: 70%;
  
}

ul.menu-small{
  
  height: 40px;
  display: flex;
  justify-content: flex-start;
  background-color: #40403E;
  padding-left: 0px;
  align-items: center;
  margin-left: 20px; 

}

ul.menu-small>li{
  display: block;
  padding: 10px 20px;
  list-style: none;
  margin-left: 0px;
  transition: all 0.4s;

}
.menu-small-col1{
  display: block;
 
}

ul.menu-small>li:hover{
  background-color: #fe980f;
}
ul.menu-small>li>a{
  text-decoration: none;
  color: white;
}

div.div_row6{
  display: flex;
  justify-content: space-between;
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  margin-top: 20px;
  padding: 15px 20px;
}


.Proucts_view1{
  width: 20%;
  text-align: center;
}
.Products_view1>img{
width: 183px;
height: 168px;
}



div.recomended{
  width: 100%;
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  margin-top: 20px;
  padding: 15px 20px;
}
.recomended-products{
  display: flex;
  justify-content: space-between;
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  margin-top: 20px;
  padding: 15px 20px;
}
.Products_view2{
  width: 30%;
}
.Products_view2>img{
  width: 100%;
}
h2.Price{
  text-align: center;
}
.Products_view2>p{
  text-align: center;
}
.pull-right{
  float: right;
}

.btn{
  color: white;
  font-size: 16px;
}

/* slider css */

.slider{
  max-width: 100%;
  height: 410px;
  z-index: -999;
  
}
.content_slider{
  width: 50%;
  height: 99%;
  text-align: left;
  background-color: #ccc;
  padding: 20px 60px;
}
.content_slider>h3{
  margin: 30px auto;
}
.slider_img{
  width: 50%;

}
.slider_img>img{
  width: 484px;
}
.get_item{
  border: black 1px solid;
  width: 100px;
  margin: 30px;
  margin-left: 100px;
  padding: 3px 10px;
  align-items: center;
}
.get_item:hover{
  background-color: #fe980f;
  transition: all ease-in-out 0.5s;
  color: white;
  
}
.logo_slider{
  width: 200px;

}

.content_slider>p{
  letter-spacing: 0.8px;
  line-height: 25px;
}





/*************************
*******login page CSS******
**************************/
.or {
  background: #fe980f;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin-top: 75px;
  text-align: center;
  width: 50px;
}

.login-form h2,
.signup-form h2 {
  color: #696763;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}
.login-form form input,
.signup-form form input {
  background: #f0f0e9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}
.login-form form span {
  line-height: 25px;
}

.login-form form span input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}
.login-form form button {
  margin-top: 23px;
}

.login-form form button,
.signup-form form button {
  background: #fe980f;
  border: medium none;
  border-radius: 0;
  color: #ffffff;
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 6px 25px;
}

.login-form label input {
  border: medium none;
  display: inline-block;
  height: 0;
  margin-bottom: 0;
  outline: medium none;
  padding-left: 0;
}

.footer {
  background-color: #f0f0e9;
}

div.footer-main {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

div.footer-main > div {
  color: black;
  margin: 0 20px;
}

div.footer-main > div > h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

div.footer-main > div > p {
  margin-bottom: 20px;
}

.footer-link > a > img {
  width: 40px;
  margin: 0 10px;
}

