*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

div.header{
    width: 80%;
    margin-left: 10%;
    position: fixed;
    background-color: #F0F0E9;
    padding: 0 20px;
    top: 0;
    z-index: 1;
}
div.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #F5F5F5;
}

div.col-1{
    display: flex;
    width: 30%;
    justify-content: space-between;
    line-height: 39px;

}

div.col-2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}



img.logo{
    width: 139px;
    height: 39px;
}

div.col-2>li{
    list-style: none;

}

div.col-2>li>a{
    text-decoration: none;
    color: black;
}

div.btn-group>button{
    padding: 1px 20px;
    position: relative;
}

div.btn-group>button:hover{
    border: 1px solid #FE980F;
    background-color: #FE980F;
    color: white;
}

div.btn-group>button.btnUSA{
    padding: 1px 24px
}

ul.dropdown-menu{

    display: none;
    position: absolute;
    border: 1px solid #ccc ;
    width: 200px;
    background-color: #ccc;
    z-index: 100;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%)

    
}

ul.dropdown-menu>li{
    list-style: none;
    padding-left: 15px;
}
ul.dropdown-menu>li>a{
    text-decoration: none;
    color: black;
}


div.btn-group:hover .dropdown-menu {
    display: block;
}

ul.dropdown-menu>li:hover{
    background-color: white;
    
}

div.header-bottom{
    width: auto;
    line-height: 80px;
    height: 80px;
}
div.row-2{
    display: flex;
    justify-content: space-between;
    
}


.col-2>li>a:hover{
    color: #FE980F;
}
div.col-3{
    width: 30%;
}

.drop-main-menu{
    display: flex;
    justify-content: space-between;
}
.drop-main-menu>li{
    list-style: none;
    position: relative;
}



.drop-main-menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
    
.ti-angle-down{
    font-size: 14px;
}
ul.list-option{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    /* margin-top: -20px; */
    background-color: #666666;
    width: 200px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    transition: all 0.6s linear;
    
}




ul.list-option>li{
    list-style: none;
    padding-left: 20px;
    line-height: 45px;
    
}
ul.list-option>li>a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.drop-main-menu>li>a:hover{
    color: #FE980F;
}
.drop-main-menu>li:hover ul.list-option {
    opacity: 1;
    visibility: visible;
    margin-top: -20px;
    
}


ul.list-option>li:hover{
    background-color: #ccc;
}
ul.list-option>li>a:hover{
    color: #FE980F;
}


div.col-4{
    padding-top: 20px;
}

.search{
    border: solid 1px #ccc;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    background-color: #F0F0E9;
    border-radius: 100px;
    padding-left: 20px;
}
.txtsearch{
    border: none;
    padding-bottom: 5px;
    outline: 0;
    background-color: #F0F0E9;
}


.Content{
    width: 80%;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.sliderbar{
    width: 270px;
}

.sliderbar1 h2, .sliderbar2 h2{
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    background-color: antiquewhite;
}

.sliderbar-1,.sliderbar-2{
    border: 2px solid #F5F5F5;
    padding: 10px 0;
}
.mncap2 i{
    float: right;
}
.sliderbar-1>ul>li, .sliderbar-2>ul>li{
    padding: 10px 20px;
}
.sliderbar-1 i{
    margin-left: 10px;
}

.sliderbar_1{
    margin: 20px;
    display: none;
    transition: all 10s ease-in-out 5s;transition-delay: 2s;
}

.sliderbar_1 li{
    margin: 5px 0;
}

.mncap2:hover .sliderbar_1{
    display: block;
}

.sliderbar2 h2{
    margin-top: 50px;
}
.sliderbar-2 p{
    display: inline;
    float: right;
}
.sliderbar-2 a{
    border-bottom: 2px solid #F5F5F5;
}

.sliderbar3{
    margin-top: 60px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.Products{
    width: 75%;
}

.products-sp{
    display: flex;
}
.products_anh {
    border-right: 1px solid #F0F0E9;
}
.products_anh .to{
    width: 400px;
    margin-right: 20px;
}

.products_anh .nho{
    width: 90px;
    margin-right: 20px;
}
.products_anh-nho{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#nho:hover {
    border:1px solid red;
}

#be:hover {
    border:1px solid red;
}

.products_tt{
    margin-left: 20px;
    margin-top: 25px;
}
.products_tt a{
    float: right;
    font-size: 13px;
}
.products_tt h3{
    float: left;
    font-size: 15px;
    font-weight: 500;
}
.products_tt h2{
    margin-top: 40px;
    font-size: 30px;
}

.products_tt h4{
    margin-top: 15px;
    font-size: 15px;
}

.products_tt .chu{
    font-size: 30px;
    margin-top: 30px;
}

.products_tt .muah h4 {
    margin-bottom: 10px;
}

.products_tt .muah input{
    width: 70px;
    padding: 7px 20px;
}
.products_tt .muah a{
    font-size: 20px;
    margin-right: 120px;
    padding: 5px 20px;
    background-color: #FE980F;
}
.products_tt h5{
    margin-top: 20px;
}

.mntt{
    width: 200px;
    background-color: 	#FFFF99;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    margin-top: 85px;
    text-align: center;
    padding: 15px;
}
.mntt>ul>li>a{
    margin: 0 20px;
}

#mota{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #F5F5F5;
}
.mota-tt{
    margin-top: 20px;
}

.mota-tt1{
    font-weight: bolder;
    margin-bottom: 15px;
}
.mota-tt2{
    font-weight: 100;
    margin-bottom: 15px;
}
.mota-tt p{
    margin-bottom: 20px;
}
#mota img{
    width: 350px;
    margin-left: 30px;
}

#chamsoc{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #F5F5F5;
}
.chamsoc-hh{
    display: flex;
    margin-top: 10px;
}

.hd{
    margin-top: 20px;
}
.ttchamsoc li, .hd li,.huongdan li{
    margin-top: 10px;
    padding-bottom: 5px;
}
.ttchamsoc i, .thongso-1 i,.thongso-2 i{
    background-color: black;
    border-radius: 50%;
    font-size: 5px;
    margin-right: 10px;
}
.hh-anh{
    width: 20px;
    margin-bottom: -5px;
}
.huongdan ,.hd,.ttchamsoc{
    margin-right: 90px;
}

#thongso{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #F5F5F5;
}
.tthong{
    display: flex;
}
.thongso-1{
    margin-right: 150px;
}
.thongso-1 li,.thongso-2 li{
    margin-top: 10px;
}

.danhgia{
    display: flex;
    background-color:antiquewhite;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #F5F5F5;
}

.danhgia1{
    margin-left: 15px;
    width: 100px;
}
.danhgia1 h3{
    font-size: 30px;
    float: left;
    margin-right: 5px;
    margin-top: -10px;
}

.danhgia2 ul{
    display: flex;
    margin-left: 20px;
}
.danhgia2 ul li{
    padding: 5px 20px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.fromnx{
    margin-top: 20px;
}
.fromnx h4{
    margin-bottom: 15px;
}
.fromnx textarea{
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 195px;
    margin-bottom: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 90%;
}
.fromgui{
    display: flex;
    justify-content: space-between;
}
.fromgui button{
    padding: 0px 30px;
    margin-right: 10%;
    font-weight: bold;
    background-color: #FE980F;
    border: 1px solid #FE980F;
    cursor: pointer;
}
.sao h4{
    float: left;
    margin-right: 10px;
}

.splienquan{
    margin-top: 80px;
    margin-bottom: 150px;
}
.splienquan1 {
    text-align: center;
    background-color:#CCFF99;
    margin-bottom: 50px;
}
.splienquan1 h3{
    padding: 10px 0;
}
.sqlienquan2{
    display: flex;
    justify-content: space-around;
}
.sqlq1{
    border: 2px solid #F5F5F5;
    overflow: hidden;
}
.sqlq1:hover img{
    transform: scale(1.1)
}
.sqlq1 img{
    width: 260px;
}
.sqlqtt{
    margin: 20px 20px;
}
.sqlqtt h4{
    margin-bottom: 5px;
}
.sqlqtt .tien{
    margin: 10px 0;
    color: red;
    font-size: 20px;
}
.footer{
    background-color: #F0F0E9;
}

div.footer-main{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

div.footer-main>div{
    color: black;
    margin: 0 20px;
}

div.footer-main>div>h4
{
    font-size: 20px;
    margin-bottom: 20px;
}

div.footer-main>div>p
{
    margin-bottom: 20px;
}


.footer-link>a>img{
    width: 40px;
    margin: 0 10px;
}






