*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}

div.header{
    
    width: 80%;
    margin-left: 10%;
    position: fixed;
    background-color: #F0F0E9;
    padding: 0 20px;

}
div.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #F5F5F5;
}

div.col-1{
    display: flex;
    width: 30%;
    justify-content: space-between;
    line-height: 39px;

}

div.col-2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}



img.logo{
    width: 139px;
    height: 39px;
}

div.col-2>li{
    list-style: none;

}

div.col-2>li>a{
    text-decoration: none;
    color: black;
}

div.btn-group>button{
    padding: 1px 20px;
    position: relative;
}

div.btn-group>button:hover{
    border: 1px solid #FE980F;
    background-color: #FE980F;
    color: white;
    
    
}

div.btn-group>button.btnUSA{
    padding: 1px 24px
}

ul.dropdown-menu{

    display: none;
    position: absolute;
    border: 1px solid #ccc ;
    width: 200px;
    background-color: #ccc;
    z-index: 100;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%)

    
}

ul.dropdown-menu>li{
    list-style: none;
    padding-left: 15px;
}
ul.dropdown-menu>li>a{
    text-decoration: none;
    color: black;
}


div.btn-group:hover .dropdown-menu {
    display: block;
    
}

ul.dropdown-menu>li:hover{
    background-color: white;
    
}

div.header-bottom{
    width: auto;
    line-height: 80px;
    height: 80px;
}
div.row-2{
    display: flex;
    justify-content: space-between;
    
}


.col-2>li>a:hover{
    color: #FE980F;
}
div.col-3{
    width: 30%;
}

.drop-main-menu{
    display: flex;
    justify-content: space-between;
}
.drop-main-menu>li{
    list-style: none;
    position: relative;
}



.drop-main-menu>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
    
.ti-angle-down{
    font-size: 14px;
}
ul.list-option{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    /* margin-top: -20px; */
    background-color: #666666;
    width: 200px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    transition: all 0.6s linear;
    
}




ul.list-option>li{
    list-style: none;
    padding-left: 20px;
    line-height: 45px;
    
}
ul.list-option>li>a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.drop-main-menu>li>a:hover{
    color: #FE980F;
}
.drop-main-menu>li:hover ul.list-option {
    opacity: 1;
    visibility: visible;
    margin-top: -20px;
    
}


ul.list-option>li:hover{
    background-color: #ccc;
}
ul.list-option>li>a:hover{
    color: #FE980F;
}


div.col-4{
    padding-top: 20px;
}

.search{
    border: solid 1px #ccc;
    height: 40px;
    line-height: 40px;
    padding-right: 10px;
    background-color: #F0F0E9;
    border-radius: 100px;
    padding-left: 20px;
}
.txtsearch{
    border: none;
    padding-bottom: 5px;
    outline: 0;
    background-color: #F0F0E9;
}


.Content{
    width: 80%;
    margin: 0 auto;
    height: 1000px;
}






.footer{
    background-color: #F0F0E9;
}

div.footer-main{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

div.footer-main>div{
    color: black;
    margin: 0 20px;
}

div.footer-main>div>h4
{
    font-size: 20px;
    margin-bottom: 20px;
}

div.footer-main>div>p
{
    margin-bottom: 20px;
}


.footer-link>a>img{
    width: 40px;
    margin: 0 10px;
}
/*************************
*******login page CSS******
**************************/

#form {
    display: block;
    margin-bottom: 185px;
    margin-top: 185px;
    overflow: hidden;
  }
  
  .login-form {
  
  }
  
  .signup-form {
  
  }
  
  .login-form h2, .signup-form h2 {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  
  
  .login-form form input, .signup-form form input {
    background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
  }
  
  .login-form form span{
    line-height: 25px;
  }
  
  .login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
  }
  
  .login-form form button {
    margin-top: 23px;
  }
  
  .login-form form button, .signup-form form button {
    background: #FE980F;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
  }
  
  .login-form label{
  
  }
  
  
  .login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
  }
  
  
  .or{
      background: #FE980F;
      border-radius: 40px;
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      margin-top: 75px;
      text-align: center;
      width: 50px;
  }
  
  